---
- name: Install requirements
  xbps:
    pkg:
      - git-all
      - xtools
      - make
      - snooze
    state: present

- name: Create xbuilder group
  group:
    name: xbuilder
    system: yes

- name: Create builder user
  user:
    name: mini-repo
    system: yes

- name: Create build directory
  file:
    path: /opt/xbps-mini-repo
    state: directory
    owner: mini-repo
    group: root
    mode: 0755

- name: Obtain the xbps-mini-builder scripts
  git:
    repo: https://github.com/the-maldridge/xbps-mini-builder.git
    dest: /opt/xbps-mini-repo
    force: yes

- name: Alter script ownership
  file:
    path: /opt/xbps-mini-repo/xbps-mini-builder
    owner: mini-repo
    group: root
    mode: 0755

- name: Copy xbps-src packages config
  copy:
    src: "{{ xbps_mini_builder_pkgs }}"
    dest: /opt/xbps-mini-repo/packages.list
    owner: root
    group: root
    mode: 0644

- name: Copy xbps-src config
  copy:
    src: "{{ xbps_mini_builder_conf }}"
    dest: /opt/xbps-mini-repo/xbps-src.conf
    owner: root
    group: root
    mode: 0644

- name: Copy signing keys
  copy:
    src: secret/xbps-mini-repo
    dest: /opt/xbps-mini-repo/id_rsa
    owner: mini-repo
    group: root
    mode: 0400

- name: Install firewall rules
  copy:
    src: mini-repo.rules
    dest: /etc/iptables.d/mini-repo.rules
    owner: root
    group: root
    mode: 0640
  notify:
    - iptables

- name: Create Service Directory
  file:
    path: /etc/sv/mini-repo
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Install Service Scripts
  copy:
    src: run
    dest: /etc/sv/mini-repo/run
    owner: root
    group: root
    mode: 0755

- name: Enable Builder Service
  runit:
    name: mini-repo
    enabled: yes

- name: Configure nginx
  include_role:
    name: nginx
    tasks_from: base-site
  vars:
    - site:
        name: mini-repo
        urls: "{{ xbps_mini_builder_servernames }}"
        root_path: /opt/xbps-mini-repo/void-packages/hostdir/binpkgs
        autoindex: true

